<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- xml mapper와 짝이 될 java mapper의 패키지명(경로명)과 파일명을 적어줌 -->
<mapper namespace="com.ssafy.mapper.ProblemMapper">


  
  	<!-- 회원 가입  
  		내부 회원가입 : 입력 정보 넣기
  		외부 로그인 : ID, name 값 넣기  
  		location 변수로 내부 , 외부 판별
  	 -->
  	 
  	 <resultMap id="ProblemResult" type="Problem">
		
		<!-- column : 테이블의 컬럼명 -->
		<!-- property : 생성한 vo 안의 필드명  // set method -->
		
		<id column="problem_key" property="key"/> 
		<result column="problem_problem" property="problem"/> 
		<result column="problem_answer" property="answer"/> 
		<result column="problem_difficulty" property="difficulty"/>
		<result column="problem_type" property="type"/>
		<result column="problem_image" property="image"/>
		
	</resultMap>
  	 
 	<insert id="insertProblem" parameterType="Problem">
 		insert into problem values(null,#{problem},#{answer},#{difficulty},#{type},#{image},8)
 	</insert>
 
 	<select id="selectAllProblem" resultMap="ProblemResult">
		select * from problem order by problem_key
	</select>
  
	<select id="selectOneProblem" resultMap="ProblemResult">
		select * from problem where problem_key = #{key}
	</select>
<!-- 	<update id="updateProblem" parameterType="String"> -->
<!--  		update problem set problem_problem =#{param1} where problem_key =#{key} -->
<!--  	</update> -->
	<delete id="deleteProblem" parameterType="Problem">
  		delete from problem where problem_key = #{key}
  	</delete>
  	
</mapper>








